@import 'variables';
* {
    margin: 0;
}
body {
    background-color: #FCEDFF;
    opacity: 0,28;

}
.logo {
    max-width: 100%;
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C6A3CC;
    text-shadow: 1px 3px 0 #969696, 9px 0px 8px #aba8a8, 2px 2px 2px rgba(161, 104, 171, 0.68);
    color: white;

&__title {
    font-family: $font-family-lugrasimo;
    padding: 20px;
} 
&__route ul {
    display: flex;
    font-family: $font-family-montserrat;
    font-size: 20px;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
}
&__route li {
    padding: 30px 20px;
    transition: all 300ms ease-in-out;
}
&__route li:hover {
    background-color: #8A5D92;
}
}
.logo img {
    width: 100%;
    max-height: 300px;
}
.presentation {
    display: flex;
    justify-content:space-between;
    padding: 30px;
    
&__image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

&--fond {
    width: 100%;
}
&--opium {

    max-width: 85%;
    border-radius: 50%;
    opacity:0.85;

}
}
&__text {
    color: #8A5D92;
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    line-height: 30px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #FCEDFF;
    padding: 30px;

}
&__text p, li {
    font-size: 18px;

}
}
.news {
    margin-top: 30px;
    display: flex;
    background: #C6A3CC;
&__image {
    width: 50%;
    & img{
        width: 80%;
        padding:40px;
    }
}
&__text h1,p {
    padding-top:100px;
    color: white;
    text-shadow: 1px 3px 0 #969696, 9px 0px 8px #aba8a8, 2px 2px 2px rgba(161, 104, 171, 0.68);

}
}

@media (max-width: 1440px) {

    .nav__title h1 {
        font-size: 18px;
    }
    .nav__route ul {
        font-size: 14px;
    }
    .nav__route li {
        padding: 30px 10px;
    }
    .presentation__text {
        padding-top: 10px;
        line-height: 25px;
    }
    .presentation__text p {
        font-size: 14px;
    }
    .presentation__text li {
        font-size: 14px;
    }
}
@media (max-width: 950px){
.nav {
    flex-direction: column;

&__route {
    width: 100%;
}
&__title {
    padding: 15px;
    border-bottom: #FCEDFF 2px solid;
}
}

.nav__route li {
    padding: 10px;
}
.nav__route ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
     padding: 10px;

}
.presentation {
    flex-direction: column;
    padding: 0px;
    &__image {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color:#FCEDFF ;
        &--fond {
            height: 700px;
        }
        &--opium {
            padding: 30px;
            WIDTH: 65%;
          padding: 60px 0px 0px 0px;
        }
    }
    &__text {
        margin: 70px;
        width: 90%;
        background-color:#C6A3CC; 
        color: white;
        padding: 30px;
    }
    &__text p {
        font-size:18px;
    }
    &__text li {
        font-size:18px;
    }
}
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
&__image {
    width: 100%;
    display: flex;
    justify-content: center;
& img {
    width: 80%;
    padding: 40px;
}
}
&__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    & h1 {
        text-align: center;
        padding-top: 0px;
    }
    & p {
        padding-left: 30px;
        padding-bottom: 60px;
    }
}

}
}


/*# sourceMappingURL=home.scss.map */
